PORT=
WORKER_PORT=

NODE_ENV=
SHOW_SQL=false

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

REDIS_V2_HOST=
REDIS_V2_PORT=
REDIS_V2_SENTINELS=

KAFKA_BROKER=
KAFKA_USERNAME=
KAFKA_PASS=

GRPC_USER_SERVICE_URL=
GRPC_ACCOUNT_SERVICE_URL=